:root {
  --nav-height: 55px;
  --nav-img: calc(var(--nav-height) * 0.7);
  --nav-icon: 2.1rem;
  --extend-height: 330px;
  --extend-list-height: calc(var(--extend-height) * 0.9);
  --extend-game-img-height: calc(var(--extend-height) * 0.65);
  --extend-game-img-width: calc(var(--extend-height) * 0.65 / 11 * 10);
  --nav-color-light: rgba(225, 255, 151, 0.535);
  --nav-color-dark: rgba(204, 231, 162, 0.95);
}
/*------NavigationBar----------*/
nav {
  width: 100%;
  height: var(--nav-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: var(--nav-color-light);
  border: none;
  z-index: 999;
  box-shadow: rgba(89, 96, 87, 0.45) 0px 25px 20px -20px;
}

/*------NavigationBar----------*/

nav .left,
nav .middle,
nav .right {
  height: var(--nav-height);
  display: flex;
  z-index: 3;
  background: var(--nav-color-light);
  box-shadow: 0px 5px 70px 0px rgba(178, 207, 156, 0.4);
}
nav .middle {
  flex: 1;
}
nav .right {
  justify-content: flex-end;
}

nav .left button,
nav .right button {
  border: none;
  padding: 0rem 1.5rem;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--nav-color-light) var(--nav-color-light) 50%,
    var(--nav-color-dark) 50%,
    var(--nav-color-dark)
  );
  background-size: 100% 200%;
  color: rgb(42, 49, 16);
  /* transition: background-position 0.1s ease-in-out 0.1s; */
}
nav > * > * {
  font-size: 1.1rem;
}
nav .setting {
  font-size: var(--nav-icon);
}

nav .profile .headshot {
  height: var(--nav-img);
  width: var(--nav-img);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#extend-nav {
  position: absolute;
  background-color: var(--nav-color-dark);
  /* top:0; */
  transform: translateY(
    calc(var(--nav-height) * -1 + var(--extend-height) * -1)
  );
  left: 0;
  /* height:var(--nav-height) */
  height: calc(var(--nav-height) + var(--extend-height));
  width: 100%;
  align-items: center;
  z-index: 1;
  /* border: solid 2px blueviolet */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@keyframes open-extend {
  from {
    transform: translateY(var(--nav-lower-height));
  }
  to {
    transform: translateY(var(--nav-higher-height));
    box-shadow: rgba(121, 130, 118, 0.45) 0px 25px 20px -20px;
  }
}

@keyframes close-extend {
  from {
    transform: translateY(var(--nav-higher-height));
    box-shadow: rgba(109, 118, 106, 0.45) 0px 25px 20px -20px;
  }
  to {
    transform: translateY(var(--nav-lower-height));
  }
}

.space {
  width: 100%;
  height: var(--nav-height);
  /* border: solid 2px blueviolet  */
}
/*@keyframes open-extend {
  from {
    height: var(--nav-lower-height);
  }
  to {
    height: var(--nav-higher-height);
  }
}

@keyframes close-extend {
  from {
    height: var(--nav-higher-height);
  }
  to {
    height: var(--nav-lower-height);
  }
}*/

/* Extra small devices (phones) */
@media only screen and (max-width: 320px) {
  /* Your styles here */
}

/* Small devices (landscape phones) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  /* Your styles here */
}

/* Medium devices (tablets) */
@media only screen and (min-width: 481px) and (max-width: 600px) {
  /* Your styles here */
}

/* Large devices (small laptops) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* Your styles here */
}

/* Extra large devices (laptops, desktops) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* Your styles here */
}

/* 2X Large devices (large laptops, desktops) */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  /* Your styles here */
}

/* 3X Large devices (large desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Your styles here */
}
