:root {
  --nav-img: calc(var(--nav-height) * 0.7);
  --nav-icon: 2.1rem;
  --extend-height: 330px;
  --extend-list-height: calc(var(--extend-height) * 0.9);
  --extend-game-img-height: calc(var(--extend-height) * 0.65);
  --extend-game-img-width: calc(var(--extend-height) * 0.65 / 11 * 10);
}
/*------NavigationBar----------*/
nav {
  width: 100vw;
  overflow: hidden;
  height: var(--nav-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: var(--primary-color);
  border: none;
  z-index: 999;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}

/*------NavigationBar----------*/

nav .left,
nav .middle,
nav .right {
  height: var(--nav-height);
  display: flex;
  z-index: 3;
  background: var(--primary-color);
}
nav .middle {
  flex: 1;
}
nav .right {
  justify-content: flex-end;
}

nav .left button,
nav .right button {
  position: relative;
  border: none;
  padding: 0rem 1.5rem;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  background: var(--primary-color);
  background-size: 100% 200%;
  color: rgb(42, 49, 16);
}
nav > * > * {
  font-size: 1.1rem;
}
nav .setting {
  font-size: var(--nav-icon);
}

nav .profile .headshot {
  height: var(--nav-img);
  width: var(--nav-img);
  border-radius: 50%;
}

#extend-nav {
  position: absolute;
  background-color: var(--primary-color);
  background-color: pink;

  width: 100vw;
  height: calc(var(--extend-height));
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transform: translateY(calc(-100% + var(--nav-height)));
}

@keyframes open-extend {
  from {
    transform: translateY(calc(-100% + var(--nav-height)));
    padding-top: 0;
  }
  to {
    transform: translateY(0);
    padding-top: var(--nav-height);
  }
}

@keyframes close-extend {
  from {
    transform: translateY(0);
    padding-top: var(--nav-height);
  }
  to {
    transform: translateY(calc(-100% + var(--nav-height)));
    padding-top: 0;
  }
}

#nav > * > button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3498db;
  transform: translateX(-50%);
  transition: width 0.6s ease;
}

#nav > * > button:hover::before {
  width: 80%;
}
