:root {
  --nav-img: calc(var(--nav-height) * 0.7);
  --extend-height: 350px;
  --extend-list-height: calc(var(--extend-height) * 0.9);
  --extend-game-img-height: calc(var(--extend-height) * 0.65);
  --extend-game-img-width: calc(var(--extend-height) * 0.65 / 11 * 10);
}
/*------NavigationBar----------*/
#pc-mode {
  display: none;
}
#mobile-mode {
  display: none;
}
nav {
  width: 100vw;
  height: var(--nav-height);
  background: var(--primary-color);

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  z-index: 999;

  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}

/*------NavigationBar----------*/

nav .left,
nav .mid,
nav .right {
  height: var(--nav-height);
  display: flex;

  z-index: 3;
}

nav .mid {
  flex: 1;
  background: var(--primary-color);
}
nav .right {
  justify-content: flex-end;
}

nav .left button,
nav .right button {
  position: relative;

  background: var(--primary-color);
  height: var(--nav-height);

  font-size: 1rem;
  padding: 0 1.5rem;
  color: black;
  /* border: solid 2px paleturquoise; */
}

nav .headshot {
  height: var(--nav-img);
  width: var(--nav-img);
  border-radius: 50%;
}

.navigation-bar.mobile p {
  font-size: 1.5rem;
  font-weight: bold;
}

#menu {
  color: var(--main-icon-color);
}

#menu > * {
  width: 2rem;
  height: 4px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.menu.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.menu.change .bar2 {
  opacity: 0;
}

.menu.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

#extend-nav {
  position: absolute;
  inset: 0;

  background-color: var(--primary-color);
  width: 100vw;
  height: calc(var(--extend-height));

  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  transform: translateY(calc(-100%));
}


#mobile-mode .extend-nav {
  height: calc(100vh - var(--nav-height));/*mobile bar高度需要占全屏*/
  flex-direction: column;
  background-color: var(--primary-color);
}

#mobile-mode .extend-nav > button {
  /* border: solid 1px black; */
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: 1.5rem;
  color: black;
  /* font-weight: bold; */
}

#mobile-mode .extend-nav > button:focus {
  background-color: aliceblue;
}

@keyframes open-extend {
  from {
    transform: translateY(calc(-100%));
    padding-top: 0;
    display: none;
  }
  to {
    transform: translateY(0);
    padding-top: var(--nav-height);
    display: flex;
  }
}

@keyframes close-extend {
  from {
    transform: translateY(0);
    padding-top: var(--nav-height);
    display: flex;
  }
  to {
    transform: translateY(calc(-100%));
    padding-top: 0;
    display: none;
  }
}

#nav > * > button::before {
  content: "";
  background-color: #3498db;
  position: absolute;

  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;

  transform: translateX(-50%);
  transition: width 0.6s ease;
}

#nav > * > button:hover::before {
  width: 80%;
}

/*--------------------------------Responsive Design--------------------------------*/
/* Styles for potrait mobile devices */
@media screen and (min-width: 0px) and (max-width: 576px) {
  #mobile-mode {
    display: flex;
  }
  #pc-mode {
    display: none;
  }
}

/* Styles for landscape mobile devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
  #mobile-mode {
    display: flex;
  }
  #pc-mode {
    display: none;
  }
}

/* Styles for ipad devices */
@media screen and (min-width: 769px) and (max-width: 992px) {
  #pc-mode {
    display: flex;
  }
  #mobile-mode {
    display: none;
  }
}

/* Styles for PC devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  #pc-mode {
    display: flex;
  }
  #mobile-mode {
    display: none;
  }
}

/* Styles for Large PC devices */
@media screen and (min-width: 1201px) {
  #pc-mode {
    display: flex;
  }
  #mobile-mode {
    display: none;
  }
}
/*--------------------------------Responsive Deisig--------------------------------*/
