:root {
  --wordle-primary-color: white;
  --wordle-secondary-color: rgb(232, 232, 232);
  --wordle-third-color: rgb(113, 211, 253);
  --wordle-green: rgb(198, 231, 90);
  --wordle-yellow: rgb(243, 216, 65);
  --wordle-grey: rgb(171, 171, 171);
}

#wordle {
  width: 100vw;
  min-height: calc(100vh - var(--nav-height));
}

/* ---------------------------Input------------------------- */
#wordle > .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 5vh 0 0 0;
}

#wordle > .input > .words {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* 每行words的间距 */
  gap: 0.3rem;
}

#wordle > .input > .words > .word {
  border: solid 0.1rem var(--wordle-secondary-color);
  background-color: var(--wordle-primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  /* 每个letter的间距 */
}

#wordle > .input > .words > .word > .letter-text {
  font-weight: bolder;
  color: black;
}
/* ---------------------------Input------------------------- */

/*----------------------Keyboard-----------------------------*/
#wordle .keyboard {
  /* min-height: calc((100vh - var(--nav-height)) * 1 / 3); */
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  padding: 5vh 0 0 0;
}

#wordle .keyboard-row {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  gap: 0.5rem;
}

.keyboard-button {
  background-color: var(--wordle-secondary-color);

  font-weight: bolder;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-button:hover {
  /* background-color: var(--wordle-third-color); */
  filter: brightness(0.9);
}

.keyboard-button > p {
  min-width: 1rem;
  font-size: 2rem;
  pointer-events: none;
  color: black;
}

.backspace,
.enter {
  width: fit-content;
}

.backspace > p,
.enter > p {
  min-width: fit-content;
}
/*----------------------Keyboard-----------------------------*/

.gn {
  background-color: var(--wordle-green);
  border-color: var(--wordle-green);
}

.gy {
  background-color: var(--wordle-grey);
  border-color: var(--wordle-grey);
}

.yw {
  background-color: var(--wordle-yellow);
  border-color: var(--wordle-yellow);
}

@keyframes reverse-board-gn {
  from {
    transform: rotate(0);
    -webkit-transform: rotateY(0);
    backface-visibility: hidden;
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    background: var(--wordle-green);
    border-color: var(--wordle-green);
    backface-visibility: hidden;
  }
}

@keyframes reverse-board-gy {
  from {
    transform: rotate(0);
    -webkit-transform: rotateY(0);
    backface-visibility: hidden;
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    background: var(--wordle-grey);
    border-color: var(--wordle-grey);
    backface-visibility: hidden;
  }
}

@keyframes reverse-board-yw {
  from {
    transform: rotate(0);
    -webkit-transform: rotateY(0);
    backface-visibility: hidden;
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    background: var(--wordle-yellow);
    border-color: var(--wordle-yellow);
    backface-visibility: hidden;
  }
}

@keyframes reverse-letter {
  from {
    transform: rotate(0);
    -webkit-transform: rotateY(0);
    color: black;
    backface-visibility: hidden;
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    color: white;
    backface-visibility: hidden;
  }
}

.summary-container.wordle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(254, 255, 241);
  height: 500px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #8d8d8d6d;
}

.summary-container .wordle .close-button {
  text-align: right;
  font-size: 30px;
  font-weight: bolder;
  padding-right: 5px;
}

.summary-container .wordle .close-button:hover {
  cursor: pointer;
  color: #0e75fb;
}

.title {
  font-weight: bolder;
}

.message {
  font-size: 20px;
  text-align: center;
}

.stage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}

.progress-bar {
  border: 3px solid black;
  width: 200px;
  height: 20px;
  margin-left: 10px;
}

.percent {
  width: 0px;
  height: 20px;
  background-color: hotpink;
}

@keyframes progress-change {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress-percent);
  }
}

/*--------------------------------Responsive Design--------------------------------*/
/* Styles for potrait mobile devices 竖屏*/
@media screen and (min-width: 0px) and (max-width: 576px) {
  #wordle > .input > .words > .word {
    height: 4rem;
    width: 4rem;
  }
  #wordle > .input > .words > .word > .letter-text {
    font-size: 3rem;
  }
  .keyboard-row {
    height: 3rem;
  }
  .keyboard-button {
    width: 8vw;
  }
  .keyboard-button p {
    font-size: 4rem;
  }
  .keyboard-button.enter,
  .keyboard-button.backspace {
    width: 15vw;
  }
  .keyboard-button > p {
    font-size: 1.5rem;
  }
  .keyboard-button.enter > p {
    font-size: 1rem;
  }
}

/* Styles for landscape mobile devices 横屏*/
@media screen and (min-width: 577px) and (max-width: 767px) {
  #wordle > .input > .words > .word {
    height: 4rem;
    width: 4rem;
  }
  #wordle > .input > .words > .word > .letter-text {
    font-size: 3rem;
  }
  .keyboard-row {
    height: 4rem;
  }
  .keyboard-button {
    width: 5vw;
  }
  .keyboard-button.enter,
  .keyboard-button.backspace {
    width: 15vw;
  }
  .keyboard-button > p {
    font-size: 1.5rem;
  }
  .keyboard-button.enter > p {
    font-size: 1rem;
  }
}

/* Styles for ipad devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #wordle > .input > .words > .word {
    height: 3rem;
    width: 3rem;
  }
  #wordle > .input > .words > .word > .letter-text {
    font-size: 2rem;
  }
  .keyboard-row {
    height: 3rem;
  }
  .keyboard-button {
    width: 3vw;
  }
  .keyboard-button.enter,
  .keyboard-button.backspace {
    width: 10vw;
  }
  .keyboard-button > p {
    font-size: 1.5rem;
  }
  .keyboard-button.enter > p {
    font-size: 1rem;
  }
}

/* Styles for PC devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  #wordle > .input > .words > .word {
    height: 3rem;
    width: 3rem;
  }
  #wordle > .input > .words > .word > .letter-text {
    font-size: 2rem;
  }
  .keyboard-row {
    height: 3rem;
  }
  .keyboard-button {
    width: 3vw;
  }

  .keyboard-button.enter,
  .keyboard-button.backspace {
    width: 10vw;
  }
  .keyboard-button > p {
    font-size: 1.5rem;
  }
  .keyboard-button.enter > p {
    font-size: 1rem;
  }
}

/* Styles for Large PC devices */
@media screen and (min-width: 1201px) {
  #wordle > .input > .words > .word {
    height: 3rem;
    width: 3rem;
  }
  #wordle > .input > .words > .word > .letter-text {
    font-size: 2rem;
  }
  .keyboard-row {
    height: 3rem;
  }
  .keyboard-button {
    width: 3rem;
  }

  .keyboard-button.enter,
  .keyboard-button.backspace {
    width: 10vw;
  }
  .keyboard-button > p {
    font-size: 1.5rem;
  }
  .keyboard-button.enter > p {
    font-size: 1rem;
  }
}
/*--------------------------------Responsive Design--------------------------------*/
