:root {
  --game-title-size: 3rem;
  --wordle-size: 3rem;
}

#wordle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: auto;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  gap: 3vh;
}

#wordle > * {
  border: solid 1px #ccc;
}

#wordle button {
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

#wordle .title {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.35) solid 1.5px;
  border-top: rgba(0, 0, 0, 0.35) solid 1.5px;
}

#wordle .keyboard,
#wordle .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wordle .words,
#wordle .keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.word {
  height: 2.5rem;
  width: 2.5rem;
  border: solid 3px rgb(217, 217, 250);
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-button {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #a2c9fb;
  border: 3px solid #8bbdff;
  margin: 0.3rem;
}

.gn {
  background-color: #cbeb7c;
  border-color: #b7eb39;
}

.gy {
  background-color: #d3d4d2;
  border-color: #c9c9c9;
}

.yw {
  background-color: rgb(255, 219, 106);
  border-color: #ffd348;
}

.delete,
.submit {
  width: calc(var(--wordle-size) * 1.5);
}

.keyboard-button:hover {
  transform: scale(1.05);
  background-color: #8bbdff;
}

@keyframes reverse-board-gn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotateY(180deg);
    background: #cbeb7c;
    border-color: #b7eb39;
  }
}

@keyframes reverse-board-gy {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotateY(180deg);
    background: #d3d4d2;
    border-color: #c9c9c9;
  }
}

@keyframes reverse-board-yw {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotateY(180deg);
    background: rgb(255, 219, 106);
    border-color: #ffd348;
  }
}

@keyframes reverse-letter {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

.summary-container.wordle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(254, 255, 241);
  height: 500px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #8d8d8d6d;
}

.summary-container .wordle .close-button {
  text-align: right;
  font-size: 30px;
  font-weight: bolder;
  padding-right: 5px;
}

.summary-container .wordle .close-button:hover {
  cursor: pointer;
  color: #0e75fb;
}

.title {
  font-weight: bolder;
}

.message {
  font-size: 20px;
  text-align: center;
}

.stage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}

.progress-bar {
  border: 3px solid black;
  width: 200px;
  height: 20px;
  margin-left: 10px;
}

.percent {
  width: 0px;
  height: 20px;
  background-color: hotpink;
}

@keyframes progress-change {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress-percent);
  }
}

/*new css*/
