/*------MainContent----------*/
:root {
  --main-content-width: 40vw;
  --icon-size: 1.4em;
  --main-icon-color: rgba(93, 93, 93, 0.817);
  --main-icon-hover: rgba(128, 76, 76, 0.817);
}

.home-page {
  display: flex;
  align-items: center;
}
/*------MainContent----------*/

/*------Second Layer---------*/

.intro-content {
  flex: 1;
}

.photo-content {
  border-radius: 50%;

  background-image: url("../../../public/zixin.png");
  background-size: cover;
  background-repeat: no-repeat;

}
/*------Second Layer---------*/

/*------TextContent----------*/

.intro-content .text {
  padding-top: 2em;
  white-space: pre-wrap;
}

.text p:first-of-type {
  font-size: 1.5em;
}

.text b {
  font-size: 2em;
}

.contact {
  /* border-top: dashed 1.5px var(--main-icon-color); */
  display: flex;
  justify-content: flex-start;
  gap: 3em;
  align-items: center;
  padding-top: 0.5em;
  /* border: solid blue 3px; */
}

#instagram,
#linkedin,
#envelope,
#github,
#mobile {
  font-size: calc(var(--icon-size) * 1.3);
  color: var(--main-icon-color);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#mobile {
  font-size: calc(var(--icon-size) * 1.4);
}
#github {
  font-size: calc(var(--icon-size) * 1.4);
}

.contact .fa:hover {
  transform: scale(1.2) rotateZ(5deg);
  color: var(--main-icon-hover);
}
/*------TextContent----------*/

/*--------------------------------Responsive Deisig--------------------------------*/
/* Styles for potrait mobile devices 竖屏*/
@media screen and (min-width: 0px) and (max-width: 576px) {
  .home-page {
    flex-direction: column;
    gap: 2rem;
    margin: 2em;
  }

  .intro-content,
  .intro-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-content .text {
    padding-top: 0;
  }

  .intro-content .text p {
    text-align: center;
  }

  .photo-content {
    height: 40vw;
    width: 40vw;
  }
}

/* Styles for landscape mobile devices 横屏*/
@media screen and (min-width: 577px) and (max-width: 767px) {
  .home-page {
    flex-direction: row;
    gap: 2rem;
    margin: 2em;
  }

  .photo-content {
    height: 40vw;
    width: 40vw;
  }
}

/* Styles for ipad devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page {
    flex-direction: column;
    gap: 2rem;
    margin: 2em;
  }

  .intro-content,
  .intro-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-content .text {
    padding-top: 0;
  }

  .intro-content .text p {
    text-align: center;
  }

  .photo-content {
    height: 40vw;
    width: 40vw;
  }
}

/* Styles for PC devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .home-page {
    flex-direction: row;
    gap: 4rem;
    margin: 3em;
  }

  .photo-content {
    height: 40vw;
    width: 40vw;
  }
}

/* Styles for Large PC devices */
@media screen and (min-width: 1201px) {
  .home-page {
    flex-direction: row;
    gap: 5rem;
    margin: 5em;
  }

  .photo-content {
    height: 30vw;
    width: 30vw;
  }
}
/*--------------------------------Responsive Deisig--------------------------------*/
