* {
  font-size: 18px;
}

body {
  font-family: serif;
}
:root {
  /*-------- navigation --------*/
  --navi-bg: rgb(217, 250, 72); /*navi-button(same)*/
  --navi-home: rgb(183, 222, 10);
  --navi-home-hover: rgb(167, 205, 2);
  --navi-button-hover: rgb(194, 235, 12); /*extend-bar-bg(same)*/
  /*-------- navigation --------*/

  /*-------- extend-navi --------*/
  --extend-list-bg: rgb(234, 246, 211);
  --box-shadow: rgba(53, 128, 0, 0.5);
  --extend-line: rgba(157, 191, 7, 0.8);
  /* extend-navi */

  /*-------- main background --------*/
  --game-bg: ;
  --intro-bg: ;
  --message-bg: ;
  --profile-bg: ;
  /*-------- main background --------*/

  /*-------- container color --------*/
  --container-dark: rgb(92, 108, 46);
  --container-normal: rgb(214, 240, 143);
  --container-light: white;
  --main-container: rgb(255, 255, 255, 0.5);
  /*-------- container color --------*/

  /*-----inputbox----*/
  --inputbox1: rgb(196, 196, 196);
  --inputbox2: rgb(214, 240, 143);
  --inputbox3: rgb(191, 223, 105);
  /*-----inputbox----*/
  /*-------- text color --------*/
  --text-dark: rgb(0, 0, 0);
  --text-normal: rgb(30, 30, 30);
  --text-light: rgb(95, 95, 95);
  --text-warning: rgb(218, 43, 43);
  --text-hyper: blue;
  /*-------- text color --------*/
  /*-------- icon color --------*/
  --grey-icon: rgb(87, 85, 85);
  --grey-icon-hover: rgb(77, 175, 2);
  --other-icon: ;
  --other-icon-hover: ;
  /*-------- text color --------*/
}

button {
  border-color: transparent;
  background-color: transparent;
  text-align: center;
}

button:hover {
  cursor: pointer;
}
/*------default------*/
