/*-----------Common-------------*/
:root {
  --list-normal-width: 150px;
  --list-normal-height: 200px;
}

.extend-game,
.extend-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: var(--extend-height);
  gap: 2vw;
  padding: 0 2vw;
  /* border: solid black 3px; */
}

.list-name {
  font-size: 1.3rem;
  text-align: center;
}

.list .normal {
  width: var(--list-normal-width);
}
/*-----------Common-------------*/

/*------GameExtendBar----------*/
#game {
  justify-content: flex-start;
}

#game .list {
  height: var(--extend-list-height);
  width: auto;
  gap: 5px;
  transform-style: preserve-3d;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid black 3px;  */
}

.game-img {
  position: relative;
  height: var(--extend-game-img-height);
  width: var(--extend-game-img-width);
  border-radius: 3%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: show-extend-content 1s ease-in-out forwards;
}
.game-img:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
    0px 10px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  transform: translateZ(0.5rem);
  cursor: pointer;
}
/*------GameExtendBar----------*/

/*------ProfileExtendBar----------*/
#profile {
  justify-content: flex-end;
}

#profile .user-headshot {
  background: linear-gradient(180deg, pink, pink 50%, white 50%, white);
  display: flex;
  justify-content: center;
}

#profile .user-info {
  background-color: rgb(228, 143, 143);
}
#profile .user-info * {
  padding: 1rem;
}

#profile img {
  padding: 3rem 4rem;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;
}

#profile .function-list {
  width: var(--list-normal-width);
  justify-content: start;
}

#profile button {
  padding: 1rem 1.5rem;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#profile button:hover {
  background-color: rgb(228, 143, 143);
  color: rgb(55, 11, 11);
}

/*------ProfileExtendBar----------*/
